.footer {
  background: #2c3154;
  padding: 23px 0 24px;
}
.footer-wrapper {
  text-align: center;
}
.footer-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  color: #808080;
}

.footer-subtitle-white {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}
